<h1>TOY</h1>
<p>一人で遊んでいてくれるおすすめおもちゃ</p>
<% @toys.each do |t| %>
    <div>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image %>
      <% end %>
      <%= post.title %>
    </div>
<% end %>
