// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: 'azuki';
  src: font-url('/assets/fonts/azuki.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {  
  font-family: hoge;
}